<footer>
    <hr>

    <a href="https://github.com/kashishswaroop04" target="_blank" rel="noopener noreferrer">GitHub</a> |
    <a href="https://kashishswaroop04.github.io/itis3135/" target="_blank" rel="noopener noreferrer">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/kashish_swaroop" target="_blank" rel="noopener noreferrer">FreeCodeCamp</a> |
    <a href="https://www.linkedin.com/in/kashish-swaroop-9173741b7/" target="_blank" rel="noopener noreferrer">LinkedIn</a>

    <br><br>

    <p>
        Page designed by 
        <a href="../kashishswaroopdesign.com/index.html">
            Kashish Swaroop Design
        </a> |
        <a href="https://www.freecodecamp.org/certification/kashish_swaroop/responsive-web-design-v9"
           target="_blank"
           rel="noopener noreferrer">
           Certified in Responsive Web Design
        </a>
    </p>

    <br>

    <a href="https://validator.accumulus.org/check?uri=referer" target="_blank" rel="noopener noreferrer">
        Accumulus Validator
    </a>
</footer>
