<footer>
    <hr>

    <a href="https://github.com/kashishswaroop04" target="_blank">GitHub</a> |
    <a href="https://webpages.charlotte.edu/801295137" target="_blank">CLT Web</a> |
    <a href="https://kashishswaroop04.github.io" target="_blank">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/kashish_swaroop" target="_blank">FreeCodeCamp</a> |
    <a href="https://www.linkedin.com/in/kashish-swaroop-9173741b7/" target="_blank">LinkedIn</a>

    <br><br>

    <a href="https://validator.accumulus.org/check?uri=referer">Accumulus Validator</a>
</footer>
